{% extends 'layout.html' %}

{% block content %}

<header class="bg-gray-800 text-white p-4 full-width content-grid">
  <h1 class="text-6xl">Profile</h1>
  <p class="text-xl opacity-80">
    <a href="/" hx-get="/" hx-target="body" hx-push-url="true">&larr; Home</a>
  </p>
</header>

{% if user %}
<section>
  <p>Username: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Created: {{ user.created_at }}</p>
</section>

<section class="flow">
  <h2 class="text-2xl">{{ user.name }}'s Links</h2>

  {% if user.links %}
  <ul class="grid grid-cols-1 gap-1 mx-auto">
    {% for link in user.links %}
    <li class="flex">
      <a href="{{ link.url }}" class="
        grow
        block p-4
        h-100 w-100
        text-blue-500 bg-slate-200
        rounded

        hover:bg-slate-100   focus-within:bg-slate-100
        hover:underline      focus-within:underline
        transition
        ">
        {{ link.title }}
      </a>

      <button hx-delete="/users/{{ user.name }}/links/{{ link.id }}" hx-target="body"
        class="bg-red-500 text-white p-4 rounded">
        Delete
      </button>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="text-gray-400 italic">(so empty)</p>
  {% endif %}

  <form hx-post="/users/{{ user.name }}/links" hx-target="body" class="bg-gray-600 p-4 rounded flow grid">
    <h2 class="text-2xl text-white">Want to add one?</h2>

    <div class="grid">
      <label for="title" class="bold text-white">
        Title
      </label>
      <input type="text" id="title" name="title" placeholder="Title..." class="rounded p-2" required>
    </div>

    <div class="grid">
      <label for="url" class="bold text-white">
        URL
      </label>
      <input type="url" id="url" name="url" placeholder="URL..." class="rounded p-2" required>
    </div>

    <button class="bg-blue-500 text-white p-4 rounded block">Add Link</button>
  </form>
</section>
{% else %}
<div class="p-4">
  <p>No user found</p>
</div>
{% endif %}

{% endblock %}
