{% if users %}
<p class="text-xl">Found {{ users|length }} project(s)</p>

<ul class="flex flex-wrap">
  {% for user in users %}
  <li>
    <a href="/p/{{ user.name }}" hx-get="/p/{{ user.name }}" hx-target="body" hx-push-url="true"
      class="p-4 inline-block bg-slate-200 text-blue-500 rounded hover:bg-slate-100 focus-within:bg-slate-100 hover:underline focus-within:underline transition">
      {{ user.name }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="text-gray-400 italic">(so empty)</p>
{% endif %}
